header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px 20px;
  background-color: #111e32;

  .logo {
    width: 200px;
    height: 65px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 200px;
      height: 65px;
    }
  }
.user-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;

  .user-photo {
    width: 75px;
    height: 65px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 65px;
      height: 65px;
    }
  }

  .user-info {
    width: 100%;
    .user-info-list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .info-list {
        display: flex;
        color: white;
        gap: 10px;

        h2 {
          flex-basis: 25%;
        }
      }
    }
  }
}

}
