<div class="container">
  <header>
    <img src="assets/img/full-logo.png" alt="full-logo">
    <h1>Чат технической поддержки</h1>
  </header>
  <main>
    <ul class="chat-list">
      <li class="chat">
        <span>Кристина</span>
        <div class="message">
          <div class="img-wrapper">
            <img src="assets/img/kristina.png" alt="kris">
          </div>
          <p>Добрый день, чем могу помочь?</p>
        </div>
      </li>
      <li class="user-chat">
        <div class="user-message">
          <p>Добрый день, я хотел бы уточнить по поводу задания Ограждение территории</p>
        </div>
      </li>
      <li class="chat">
        <span>Кристина</span>
        <div class="message">
          <div class="img-wrapper">
          <img src="assets/img/kristina.png" alt="kris">
          </div>
          <div class="loading-wrapper"><span class="loading">...</span></div>
        </div>
      </li>
    </ul>
  </main>
  <footer>
    <div class="footer-wrapper">
      <p>Отправить сообщение ...</p>
      <img src="assets/icons/violin.png" alt="violin">
    </div>
  </footer>
</div>
