<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="wrapper">
      <div class="logo">
        <img src="assets/img/full-logo.jpg" alt="logo">
      </div>
        <div class="login-form">
          <div class="login">
            <input id="email"
                   type="email"
                   formControlName="email"
                   class="form__input"
                   placeholder="Email">
            <label for="password" class="form__label"></label>
          </div>
          <div class="password">
            <input id="password"
                   type="password"
                   formControlName="password"
                   class="form__input"
                   placeholder="Пароль">
            <label for="password" class="form__label"></label>
          </div>
        </div>
        <div class="button-submit-wrapper">
          <button class="submit-button" type="submit"
                  [routerLink]="'/qrcode'"
                  [disabled]="loginForm.invalid">Login
          </button>
        </div>
      </div>
  </form>
</div>
<router-outlet></router-outlet>
